<div class="d-flex justify-content-evenly">

    <div class="card" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/OIP.AjvaZTgBe-Z6agxZbVVZJgHaE8?pid=ImgDet&rs=1" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text fw-bolder">MINI ELECTRIC</p>
            <p class="seat">4 Sitze</p>
            <p class="ps">184 PS (135kW), 150 km/h Höchstgeschwindigkeit</p>
            <p class="Energie">Energieverbrauch (kombiniert): 15,3 kWh/100km, <br>CO2 Emissionen (kombiniert): 0g/km (WLTP), 232 km Elektrische Reichweite (WLTP) disclaimer</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/R.33862ce06144d65a0377ed3df935909e?rik=FI5H0IcDqAMrgg&pid=ImgRaw&r=0" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text fw-bolder">Seat Leon</p>
            <p class="seat">5 Sitze</p>
            <p class="ps">110 PS (81 kW)</p>
            <p class="Energie">Benzin</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/R.0dafbd9b2e505e2a452c056ebc2484b4?rik=pFnUhqcLhWCiNQ&pid=ImgRaw&r=0" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text fw-bolder">VW Touran II</p>
            <p class="seat">5 Sitze</p>
            <p class="ps">110 PS (81 kW)</p>
            <p class="Energie">Diesel</p>
        </div>
    </div>

</div>